*{
    color: white;
}
.new-movies{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    
  /* width: 40px; */
  overflow-x: scroll;
  
}
.new-movies img{
    
    margin-left: 5px ;
    
}
.n-mov{
    height: 150px;
}